/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

/******************************************
/* SASS VARIABLES
/*******************************************/
$themes: "light", "dark";

/******************************************
/* MIXINS
/*******************************************/

//Character creation
@mixin characterSelection($bgColor, $acColor, $titleColor, $otherColor) {
  padding-top: 10vh;
  display: flex;
  justify-content: center;

  #characterSelection {
    width: 400px;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $bgColor;

    border: $acColor 5px solid;
    border-radius: 20px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    width: 300px;
    margin-bottom: 0.5rem;
    color: $titleColor;
  }

  h2 {
    color: $acColor;
    font-size: 2rem;
  }
  ul {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    width: 80%;
    text-align: center;

    font-size: 1.7rem;
    padding: 0.5rem 0;
    border-radius: 5px;

    color: $bgColor;
    background: linear-gradient(to right, $otherColor 50%, $titleColor 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: right;
    transition: all 0.5s ease-in;
  }
  li:hover {
    background-position: left;
    transition: all 0.5s ease-in;
  }
}

//Theme selector
@mixin themeselector($bgColor) {
  background-color: $bgColor;

  width: 5rem;
  position: fixed;
  top: 2rem;
  right: 0rem;
}

//Main structure
@mixin main(
  $primary1: #ffffff,
  $primary2: #f5f3f4,
  $primary3: #d3d3d3,
  $primary4: #b1a7a6,
  $accent1: #e5383b,
  $accent2: #ba181b,
  $accent3: #a4161a,
  $accent4: #660708,
  $inverse1: #161a1d,
  $inverse2: #0b090a
) {
  min-height: 100vh;

  background-color: $primary1;
  color: $inverse1;

  #page1 {
    @include characterSelection($primary2, $accent1, $accent2, $accent4);
  }

  #themeSelect {
    @include themeselector($primary3);
  }
}

/******************************************
/* THEME COLOR DECLARATION
/*******************************************/

@each $theme in $themes {
  .theme-#{$theme} {
    @if $theme == "light" {
      @include main();
    } @else if $theme == "dark" {
      @include main(
        #58534d,
        #434441,
        #434441,
        #58534d,
        #380000,
        #380000,
        #5a0700,
        #5a0700,
        #f5f3f4,
        #777572
      );
    }
  }
}
