/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

#themeSelect #themeOptions .hidden {
  visibility: hidden;
  position: absolute;
}

/******************************************
/* SASS VARIABLES
/*******************************************/
$themes: "light", "dark";
$primaryColor: null;
$accentColor: null;

/******************************************
/* MIXINS
/*******************************************/
@mixin simpleBtn($bgColor, $fontColor, $height: 40px, $width: 80px) {
  height: $height;
  width: $width;
  background-color: $bgColor;
  color: $fontColor;
  padding: 0;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $bgColor, $amount: 20%);
  }

  &:active {
    background-color: darken($color: $bgColor, $amount: 40%);
  }
}

/******************************************
/* COMPONENT THEMES
/*******************************************/

//Theme selector
@mixin themeSelector($bgColor) {
  background-color: $bgColor;
  border-radius: 5px 0 0 5px;

  width: 4.5rem;
  position: fixed;
  top: 20px;
  right: 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
  }

  ul {
    height: 40px;
  }

  .themeSample {
    height: 100%;
    width: 100%;
    opacity: 0%;
    border-radius: 15px;
  }

  .themeSample:hover {
    cursor: pointer;
  }

  #themeOptions:hover {
    height: auto;

    .themeOption {
      visibility: visible;
      position: static;
    }
  }

  .themeOption {
    border: $bgColor 3px solid;
  }

  .themeOption:hover {
    border: 0px;
  }
}

//Character selection
@mixin characterSelection(
  $bgColor,
  $acColor,
  $titleColor,
  $otherColor,
  $inverse
) {
  padding-top: 10vh;
  display: flex;
  justify-content: center;

  #characterSelection {
    width: 400px;
    //    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $bgColor;

    border: $acColor 5px solid;
    border-radius: 20px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    width: 300px;
    margin-bottom: 0.5rem;
    color: $titleColor;
  }

  h2 {
    color: $inverse;
    font-size: 2rem;
  }
  ul {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 40px 0;
  }
  li {
    width: 80%;
    text-align: center;

    font-size: 1.7rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    margin: 0.1rem 0;

    color: $bgColor;
    background: linear-gradient(to right, $otherColor 50%, $titleColor 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: right;
    transition: all 0.5s ease-in;
  }
  li:hover {
    cursor: pointer;

    background-position: left;
    transition: all 0.5s ease-in;
  }
}

//Character creation
@mixin characterCreation($bgColor, $fontColor, $accentColor) {
  #titles {
    background-color: $bgColor;
    color: $fontColor;
    height: 60px;
    min-width: 1080px;

    h1 {
      color: $fontColor;
      position: absolute;
      top: 5px;
      left: 0rem;
      margin: 0 25px;
      text-align: center;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      padding: 1rem 0 1.5rem 0;
    }
  }

  #characterCreation {
    display: flex;

    #traits ul {
      background-color: $bgColor;
      width: 240px;
      height: calc(100vh - 120px);

      .characterTrait {
        height: 6rem;
        border-top: $accentColor 2px solid;
        border-left: $bgColor 30px solid;
        border-right: $bgColor 30px solid;

        &:hover {
          cursor: pointer;
          background-color: $accentColor;
          border: none;
        }
      }

      .showTraitOptions {
        background-color: white;
        height: 6rem;
      }
    }

    #characterCreationMain {
      width: 100%;
      min-width: 840px;
      display: flex;

      #traitOptions {
        width: 50%;
      }

      #traitDescription {
        width: 50%;
      }
    }
  }
  footer {
    height: 60px;
    min-width: 1080px;
    background-color: $bgColor;

    #btnReturnPageOne {
      @include simpleBtn($fontColor, $bgColor, $width: 120px);
      position: fixed;
      left: 30px;
    }

    #btnCreateCharacter {
      @include simpleBtn($fontColor, $bgColor, $width: 120px);
      position: fixed;
      right: 30px;
    }
  }
}

//Main structure
@mixin main(
  $primary1: #ffffff,
  $primary2: #f5f3f4,
  $primary3: #d3d3d3,
  $primary4: #b1a7a6,
  $accent1: #e5383b,
  $accent2: #ba181b,
  $accent3: #a4161a,
  $accent4: #660708,
  $inverse1: #161a1d,
  $inverse2: #0b090a
) {
  min-height: 100vh;

  background-color: $primary1;
  color: $inverse1;

  #themeSelect {
    @include themeSelector($primary3);
  }

  #page1 {
    @include characterSelection(
      $primary2,
      $accent1,
      $accent2,
      $accent4,
      $inverse1
    );
  }

  #page2 {
    @include characterCreation($accent3, $primary1, $accent1);
  }
}

/******************************************
/* THEME COLOR DECLARATION
/*******************************************/

@each $theme in $themes {
  .theme-#{$theme} {
    @if $theme == "light" {
      @include main();
    } @else if $theme == "dark" {
      @include main(
        #58534d,
        #434441,
        #434441,
        #58534d,
        #380000,
        #380000,
        #5a0700,
        #5a0700,
        #f5f3f4,
        #777572
      );
    }
  }

  ##{$theme}Theme {
    @if $theme == "light" {
      background-image: linear-gradient(45deg, #ffffff 50%, #ba181b 50%);
    } @else if $theme == "dark" {
      background-image: linear-gradient(45deg, #58534d 50%, #380000 50%);
    }
    height: 30px;
    width: 30px;
    border-radius: 15px;
    transition: height 0.25s ease-in;
  }
}
